.Seminars {
    display: flex;
    justify-content: space-between;
    /* margin: auto; */
}


.Seminars-js .heading .text {
    max-width: 700px;
    color: white;
}

.Seminars-js .heading .text h3 {
    max-width: 700px;
    color: white;
}

.Seminars-js .heading {
    min-height: 500px;
    background: url("../../../assets/about.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.Seminars-js .heading .text {
    max-width: 700px;
}


.Seminars-js .heading .text h1 {
    margin-bottom: 10px;
}

.Seminars h1 {
    margin: 30px 0;
}

.Seminars .sideBar {
    width: 30%;
}

.Seminars .sideBar li a {
    background: white !important;
}

.Seminars .sideBar li a {
    display: block;
    position: relative;
    text-align: left;
}

.Seminars .sideBar li a:hover::before {
    background: #00436E;
    content: '';
    display: block;
    top: 0;
    position: absolute;
    height: 100%;
    left: 0;
    width: 6px;
}

.Seminars .sideBar li {
    list-style-type: none;
}

.Seminars .sideBar li a {
    color: black;
    text-decoration: none;
}

.Seminars .content {
    /* width: 68%; */
    text-align: center;
}

.Seminars .content .text,
.Seminars .content .media {
    background-color: white;
    margin: 0;
    padding: 0;
}

.Seminars .content .text {
    padding: 10px;
    box-shadow: 5px 5px 10px 1px #e4e4e4;
}

.Seminars .content .content-item {
    margin-bottom: 20px;
}


@media screen and (max-width: 960px) {
    .Seminars {
        display: block !important;
    }

    .Seminars .sideBar {
        width: 100% !important;
    }

    .Seminars .content {
        width: 100% !important;
    }
}