.EditorCk-item,
.ck.ck-reset.ck-editor.ck-rounded-corners {
    margin-top: 10px;
}

.EditorCk select {
    width: 100%;
    padding: 10px;
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    outline: none;
}

.EditorCk input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    outline: none;
}

.EditorCk input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    outline: none;
}

.EditorCk input[type="submit"] {
    padding: 10px 15px;
    border: none;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    margin-top: 10px;
    display: block;
    margin: 10px auto;
    background-color: #14284b;
    color: white;
}

.EditorCk input[type="submit"]:hover {
    padding: 10px 15px;
    border: none;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    margin-top: 10px;
    display: block;
    margin: 10px auto;
    background-color: #204e9e;
    color: white;
}