.swiper-text .swiper-pagination {
  position: relative;
}

.swiper-text .swiper-pagination span {
  position: relative;
  color: transparent;
  border: 1px solid grey;
}

.swiper-pagination span {
  width: 30px !important;
  border-radius: 0 !important;
}

.swiper-pagination-bullet {
  background: transparent !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: #14284b !important;
}

.swiper-slide {
  opacity: 0 !important;
}

.swiper-slide-active {
  opacity: 1 !important;
}

.swiper-slide h3 {
  width: 50% !important;
  display: block;
  margin: auto;
  font-size: 24px;
  font-weight: normal;
}

.mission {
  height: 800px;
  background: #fff url(https://oboronprom.uz/images/bg4.png) no-repeat center;
  padding: 100px 20px;
}

@media screen and (max-width: 960px) {
  .mission h1 {
    font-size: 40px !important;
  }

  .swiper-slide h3 {
    width: 100% !important;
    font-size: 16px;
  }
}