.library {
    width: 90%;
    display: block;
    margin: 40px auto;
}

.library .documents {
    background-color: white;
    padding: 20px;
}

.library .documents a.download_button {
    display: block !important;
    text-align: right !important;
    margin-top: 20px;
    text-decoration: none;
    cursor: pointer;
}