.news-block .admin-tools button {
    background-color: #14284b;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    color: white;
}

.news-block .admin-tools button:hover {
    background-color: #2f5391;
}